html {
  height: 100%;
  width: 100%;
  position: relative;
  display: block; }

body {
  height: 300px;
  margin: 0 auto;
  width: 750px; }

.bubbles {
  width: 100%;
  height: 100%;
  position: relative;
  display: block; }
  .bubbles div.bub-data,
  .bubbles div.bub-vis {
    width: 50%;
    height: 100%;
    float: left; }
  .bubbles circle {
    stroke-width: .5px;
    stroke: #cecece; }
  .bubbles .bub-buttons {
    text-align: center; }
    .bubbles .bub-buttons .btn {
      display: inline-block;
      padding: 6px 12px;
      margin-top: 5px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px; }
      .bubbles .bub-buttons .btn-enter {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c; }
        .bubbles .bub-buttons .btn-enter:hover {
          color: #fff;
          background-color: #449d44;
          border-color: #398439; }
      .bubbles .bub-buttons .btn-exit {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a; }
        .bubbles .bub-buttons .btn-exit:hover {
          color: #fff;
          background-color: #c9302c;
          border-color: #ac2925; }
      .bubbles .bub-buttons .btn-update {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da; }
        .bubbles .bub-buttons .btn-update:hover {
          color: #fff;
          background-color: #31b0d5;
          border-color: #269abc; }
  .bubbles .bub-data {
    background: #c5c5c5;
    overflow: auto; }
    .bubbles .bub-data p {
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 12px;
      margin: 5px 0 5px 10px;
      float: left; }
  @media screen and (max-width: 750px) {
    .bubbles div {
      width: 100%;
      float: none; } }
